h1{
    color: rgb(240, 23, 23);
    text-align: center;
    background-color: rgb(202, 158, 243);
    
}
body{
    background-image: url(./img/plano-de-fundo-padrao-de-linha-elegante_975983-8.jpg);
    font-size: 30px;
    
    
}